body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: darkblue;
}
p{
    color: gray;
}
p:hover {
    color: black;
}
.highlight{
    color: orange;
}
.flex_con{
    display: flex;
    margin-bottom: 100px;
}
.div_a {
    width: 50%;
    padding-left: 5%;
}
.div_a img{
    width: 80%;
    opacity: 70%;
}

.div_a img:hover {
    opacity: 100%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 209, 146), rgb(214, 110, 13));
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.link_button:hover{
    background-image: linear-gradient(rgb(219, 173, 87), orange);
}
.r_para{
    padding-right: 100px;
    text-align: justify;
}
.f_class{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.s_class{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences{
    box-shadow: 8px 8px 20px gray;
    margin: 0px 50px;
    border-radius: 10px;
}

.Experiences h1{
    font-size: 30px;
}
.t_sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#aaa{
    border-left: 8px solid;
    border-image: linear-gradient(gray, orange);
    border-image-slice: 1;
}
#bbb{
    border-left: 8px solid;
    border-image: linear-gradient(gray, cyan)  ;
    border-image-slice: 1;
}
#aaa:hover{
    border-left: 8px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}
#bbb:hover{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan)  ;
    border-image-slice: 1;
}
footer p{
text-align: center;
color: gray;
}