body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: darkblue;
}
p{
    color: gray;
}
p:hover {
    color: black;
}
.highlight{
    color: orange;
}
.flex_con{
    display: flex;
    margin-bottom: 100px;
}
.div_a {
    width: 50%;
    padding-left: 5%;
}
.div_a img{
    width: 80%;
    opacity: 90%;
}

.div_a img:hover {
    opacity: 100%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(#F9775F, #F78C6B);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.link_button:hover{
    background-image: linear-gradient(#FF277C, #FF5398);
}
.r_para{
    padding-right: 100px;
    text-align: justify;
}
.f_class{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.s_class{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences{
    box-shadow: 8px 8px 15px rgb(161, 168, 196);
    margin: 0px 50px;
    border-radius: 10px;
}

.Experiences h2{
    font-size: 30px;
    color: darkblue;
}
.t_sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.t_sec h1{
    padding-left: 50px;
}
#aaa{
    border-left: 8px solid;
    border-image: linear-gradient(gray, rgb(241, 240, 236));
    border-image-slice: 1;
    background-color: white;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: -60px;
    background-position-y: -15px;
}
#bbb{
    border-left: 8px solid;
    border-image: linear-gradient(gray, rgb(243, 245, 245))  ;
    border-image-slice: 1;
    background-color: white;
}
#aaa:hover{
    border-left: 8px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}
#bbb:hover{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan)  ;
    border-image-slice: 1;
}
footer p{
text-align: center;
color: gray;
background-color: white;
margin: 0;
padding: 10px;
box-shadow: 8px 8px 15px rgb(161, 168, 196);
}
body{
    background-image: url(images/all_bg.png);
    background-attachment: fixed;
}